.home-container {
  padding-top: 80px;
  padding-bottom: 55px;
  height: calc(100vh - 254px);
  }

.home-container h1 {
  margin: 0;
}

.home-content {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.home-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: -0.015em;
  color: var(--dark-color);
  margin-bottom: 30px !important;
  width: 400px;
}

.home-subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.015em;
  color: var(--secondary-color);
  margin-bottom: 30px;
  width: 400px;
}

.home-btn-order {
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 55px;
  width: 185px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.015em;
  color: #FFF;
}

.home-btn-order:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.01);
}

.home-image svg {
  width: 100% !important;
}

@media only screen and (max-width: 1037px) {
  .home-container {
    height: auto;
    margin-bottom: 50px;
  }

  .home-content {
    flex-direction: column-reverse;
  }

  .home-title {
    font-size: 42px;
    text-align: center;
  }

  .home-subtitle {
    text-align: center;
  }

  .home-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-image {
    margin-bottom: 30px;
  }

  .home-image svg {
    width: 80%;
  }
}

@media (max-height: 700px) {
  .home-container {
    height: auto;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 495px) {
  .home-container {
    padding-top: 50px;
    margin: 0 15px;
  }

  .home-image {
    align-self: center;
    margin-bottom: 10px;
    min-width: 240px;
  }

  .home-image svg {
    width: 100% !important;
    min-width: 240px;
  }

  .home-title {
    font-size: 30px;
    width: 250px;
  }

  .home-subtitle {
    width: 230px;
  }
}
